<h1 id = "sponsors_bar">Sponsors</h1>
<div class="sponsor_company major">
    <a href="http://www.tripadvisor.com/"><img alt="Trip Advisor" src="/static/img/logos/tripadvisor.png"></a>
</div>
<div class="sponsor_company major">
    <a href="http://www.palantir.com/"><img alt="Palantir" src="/static/img/logos/palantir.png"></a>
</div>
<div class="sponsor_company minor">
    <a href="http://www.google.com/"><img alt="Google" src="/static/img/logos/google.png"></a>
</div>
<div class="sponsor_company minor">
    <a href="http://www.bloomberg.com/"><img alt="Bloomberg" src="/static/img/logos/bloomberg.png"></a>
</div>
