<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>UPE Programming Competition</title>

    <link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/custom.css" rel="stylesheet">
    <style>
        body { padding-top: 60px; } /* 60px to make the container go all the way to the bottom of the topbar */
    </style>
    <link href="{{STATIC_URL}}css/bootstrap-responsive.css" rel="stylesheet">
  </head>

  <body>

    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{% url "home" %}">UPE Programming Competition</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li{% block nav-home %}{% endblock %}><a href="{% url "home" %}">Home</a></li>
              <li{% block nav-rules %}{% endblock %}><a href="{% url "rules" %}">Rules</a></li>
              <li class="divider-vertical"></li>
              {% if user.is_authenticated and NOW > START and NOW < END %}
                <li class="highlight"><a href="{% url "problemset" %}" target="_blank">Problem Set</a></li>
              {% else %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Problem Sets
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="/problem_set/Spring2013.pdf">Spring 2013</a></li>
                    <li><a href="/problem_set/Fall2012.pdf">Fall 2012</a></li>
                    <li><a href="/problem_set/Spring2012.pdf">Spring 2012</a></li>
                    <li><a href="/problem_set/Fall2011.pdf">Fall 2011</a></li>
                  </ul>
                </li>
              {% endif %}
              {% if user.is_authenticated %}
                {% if NOW > START %}
                  <li{% block nav-download %}{% endblock %}><a href="{% url "download" %}">Submission Page</a></li>
                {% else %}
                  <li{% block nav-sample %}{% endblock %}><a href="{% url "sample" %}">Sample Problem</a></li>
                {% endif %}
              {% endif %}
              {% if NOW > START %}
                <li{% block nav-scoreboard %}{% endblock %}><a href="{% url "scoreboard" %}">Standings</a></li>
              {% endif %}
              <li class="divider-vertical"></li>
              {% if user.is_authenticated %}
                <li{% block nav-profile %}{% endblock %}><a href="{% url "profile" %}">Profile</a></li>
                <li><a href="{% url "logout" %}">Logout</a></li>
                {% if PROFILER and DEBUG %}
                  <li class="divider-vertical"></li>
                  <li{% block nav-stats %}{% endblock %}><a href="{% url "stats" %}">Stats</a></li>
                {% endif %}
              {% else %}
                <li{% block nav-register %}{% endblock %}><a href="{% url "register" %}">Register</a></li>
                <li{% block nav-login %}{% endblock %}><a href="{% url "login" %}">Login</a></li>
              {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class = "container">
        <div class = "row">
            {% if not template_fullwidth %}
            <div id="bd" class="span8" style="margin-left:10px">
            {% else %}
            <div id="bd" class="span12" style="margin-left:10px">
            {% endif %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
                    {% block content %}
                    {% endblock %}
            </div>
            {% if not template_fullwidth %}
            <div class="span4">
                <div id="timers" class="well">
                    {% load relative_time %}
                    {% if NOW > START %}
                        {% if NOW < END %}
                            <h1>Time Left: <span id="comptime">{{ END|decimal_time }}</span></h1>
                            <p>Competition ends at {{ END|time:"h:i A" }}.</p>
                        {% else %}
                            <h1>Competition Finished</h1>
                            <p>The competition has finished, view the results on the <a href="{% url "scoreboard" %}">scoreboard</a>.</p>
                        {% endif %}
                    {% else %}
                        <h3>Next competition {{ START|clear_time }}</h3>
                        <p>Competition starts on {{ START }}.</p>
                    {% endif %}
                </div>
                <div id="sponsors" class="well">
                    {% include "_sponsors.html" %}
                </div>
            </div>
            {% endif %}
        </div>
        <hr/>
            <div id="ft" style="margin-left:10px">
                <p>Copyright &copy; 2009-2013 &middot; Upsilon Pi Epsion, Rensselaer
                Polytechnic Institute &middot; <a href="http://www.github.com/RPI-UPE/UPEProgComp/">Contact us on GitHub</a></p>
                <p>Attempting to tamper with this site in any way is considered
                dishonesty with respect to the contest.  It will also be treated as
                a violation of RPI's COMEC policy.</p>
            </div>
    </div>
    <script src="{{STATIC_URL}}js/jquery.js"></script>
    <script src="{{STATIC_URL}}js/jquery.animate-colors-min.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.js"></script>
    <script src="{{STATIC_URL}}js/spin.min.js"></script>
    <script src="{{STATIC_URL}}js/progcomp.js"></script>
</body>
</html>
