{% extends "base.html" %}
{% block nav-home %} class="active"{% endblock %}

{% block content %}

<h2>Spring 2013</h2>

<div class="competition-info">
    <p>The spring 2013 contest will be Sunday March 24th from 12:00 PM to 2:30 PM in
    Lally 102 and Lally 104. Results will be announced immediately following the end
    of the competition.</p>

    <p><b>Awards</b> made possible by our wonderful sponsors for participants will
    be:
    <ul>
      <li>iPad Retina 16GB WiFi</li>
      <li>32" LED Full HD HDTV</li>
      <li>Samsung Chromebook</li>
      <li>256GB SSD</li>
      <li>1000W Home Theatre System and Blu Ray Player</li>
      <li>Das Keyboard</li>
      <li>500GB PS3</li>
      <li>iPod Touch 32GB</li>
      <li>Dell 27" 1440p monitor</li>
      <li>Bose Quiet Comfort 15</li>
      <li>Galaxy Nexus 7</li>
      <li>$550 worth of gift cards</li>
    </ul>

    <p><b>Eligibility:</b> You must be a student currently enrolled at RPI to
    participate in the competition.</p>

    <p><b>Sponsors:</b> We are grateful to have the support of Trip Advisor, Palantir, Bloomberg, and Google.</p> 
</div>

<hr>

<h2>Fall 2012</h2>

<div class="competition-info">
    <p>The fall 2012 contest will be Sunday October 28th from 12:00 PM to 2:30 PM in
    Lally 104 and Lally 102. Results will be announced immediately following the end
    of the competition.</p>

    <p><b>Awards</b> made possible by our wonderful sponsors for participants will
    be:

    <ul>
      <li>iPad 16GB WiFi</li>
      <li>PlayStation 3 + Uncharted 3</li>
      <li>1000W 3D Blu-Ray Home Theater System</li>
      <li>Dell 24" 1920x1200 Monitor</li>
      <li>Livescribe 8 GB Echo Smartpen Pro Pack</li>
      <li>Amazon Gift Cards</li>
      <li>Google 8GB Galaxy Nexus 7</li>
      <li>Bose QuietComfort 15 Headphones</li>
      <li>16GB Galaxy Nexus 7</li>
      <li>3 one-year micro accounts at Github</li>
    </ul>

    <p><b>Eligibility:</b>  You must be a student currently enrolled at RPI to
    register.</p>

    <p><b>Sponsors:</b>  We are grateful to have the support of Trip
      Advisor, Google, Bloomberg, Kitware, and Github.  Without these companies, we
      would not be able to offer awards for participation this
      semester.</p> 
</div>

<hr>

<h2>Spring 2012</h2>

<div class="competition-info">
    <p>Welcome to the home page for the UPE coding competition.  The Spring 2012
    Contest will be Saturday March 31st between 12:15pm and 2:15pm in Sage 3101.
    Results will be announced after 2:15pm as soon as they are tabulated.</p>

    <p><b>Awards</b> made possible by our wonderful sponsors for participants will be
    (subject to change):</p>
    <ul>
        <li>6 $50 gift cards</li>
        <li>Xbox</li>
        <li>2 Ipod Nanos</li>
        <li>Kindle Touch 3g</li>
    </ul>

    <p><b>Eligibility:</b>  You must be a student currently enrolled at RPI to
    register.  To participate in the contest, you must be among the first sixty
    contestants to register for the contest.</p>

    <p><b>Sponsors:</b>  We are grateful to have the support of
    <a href="http://www.palantirtech.com/careers/positions">Palantir</a>,
    <a href="http://careers.microsoft.com/careers/en/us/collegehome.aspx">Microsoft</a>,
    <a href="http://www.tripadvisor.com/careers/">Trip Advisor</a>,
    and <a href="http://careers.vistaprint.com/">Vistaprint</a>.
    Without these companies, we would not be able to offer
    awards for participation this semester.</p>
</div>

<hr>

{% endblock %}
