{% extends 'base.html' %}

{% block content %}
            <form action="{% url editprofile %}" enctype="multipart/form-data" method="post"> {% csrf_token %}
                <div class="field-wrapper">
                    <table>
{% include "_form.html" %}
{% if user.profile.resume %}
                        <tr>
                            <td>&nbsp;</td>
                            <td>The resume you uploaded is <a href="{{ user.profile.resume.url }}">here</a>.</td>
                        </tr>
{% else %}
                        <tr>
                            <td>&nbsp;</td>
                            <td>You have not uploaded a resume.</td>
                        </tr>
{% endif %}
                        <tr>
                            <td>&nbsp;</td>
                            <td><input type="submit" value="Save Changes" /></td>
                        </tr>
                    </table>
                </div>
            </form>
{% endblock %}
