{% extends 'base.html' %}

{% block content %}
<form class="form-horizontal" action="{% url editprofile %}" enctype="multipart/form-data" method="post"> {% csrf_token %}
    <fieldset>
        <legend>Edit profile</legend>
        {% include "_form.html" %}
        {% if user.profile.resume %}
            <div class="control-group">
                <div class="controls">
                    The resume you uploaded is <a href="{{ user.profile.resume_url }}" target="_blank">here</a>.
                </div>
            </div>
        {% else %}
            <div class="control-group">
                <div class="controls">
                    You have not uploaded a resume.
                </div>
            </div>
        {% endif %}
        <div class="form-actions"><input class="btn btn-primary" type="submit" value="Save Changes" /></div>
    </fieldset>
</form>
{% endblock %}
