{% extends "base.html" %}

{% block content %}
{% if validlink %}
<form class="form-horizontal" action="." method="post"> {% csrf_token %}
    <fieldset>
        <legend>Reset Password</legend>
        <p>Please enter your new password twice so we can verify you typed
        it in correctly.</p>
{% include "_form.html" %}
        <div class="form-actions"><input class="btn btn-primary" type="submit" value="Reset Password" /></div>
    </fieldset>
</form>
{% else %}
<p>The password reset link was invalid, possibly because it has
already been used.  Please request a new password reset.</p>
{% endif %}
{% endblock %}
