{% extends "base.html" %}

{% block content %}
            <p>Please enter your old password, for security's sake, and then
            enter your new password twice so we can verify you typed it in
            correctly.</p>
            <form action="{% url pw_change %}" method="post"> {% csrf_token %}
                <div class="field-wrapper">
                    <table>
{% include "_form.html" %}
                        <tr>
                            <td>&nbsp;</td>
                            <td><input class="btn btn-primary" type="submit" value="Change password" /></td>
                        </tr>
                    </table>
                </div>
            </form>
{% endblock %}
