{% extends "base.html" %}

{% block content %}
            <form action="{% url pw_reset %}" enctype="multipart/form-data" method="post"> {% csrf_token %}
                <div class="field-wrapper">
                    <table>
{% include "_form.html" %}
                        <tr>
                            <td>&nbsp;</td>
                            <td><input type="submit" value="Request Reset" /></td>
                        </tr>
                    </table>
                </div>
            </form>
{% endblock %}
