{% extends 'base.html' %}
{% block nav-download %} class="active"{% endblock %}

{% block content %}
    {% load prettytimes_tags %}
    <h2>Problem Submission</h2>
	{% if NOW < START %}
		<p>The competition will start {{ START|relative_time }}.</p>
	{% else %}
		{% if time_now > time_end %}
			<p>The competition has ended. No further submissions will be counted towards your final score, but you are free to continue to attempt problems.</p>
		{% else %}
			<p>Please pick the problem number that you wish to attempt to solve. The competition ends <b>{{ END|relative_time }}.</b></p>
		{% endif %}
		<ol id="problem-list">
			{% for id, name, completed in problems %}
				<li><a href="{% url submit id %}">{{ name }}</a> {% if completed %}<i class="icon-ok"></i>{% endif %}</li>
			{% endfor %}
		</ol>
	{% endif %}

    <h3>Submitted Solutions</h3>
    {% if submissions %}
        {% include "_submitted.html" %}
    {% else %}
    <p>You have not submitted any solutions yet.</p>
    {% endif %}
{% endblock %}
