{% extends 'base.html' %}
{% block nav-download %} class="active"{% endblock %}

{% block content %}
    {% load prettytimes_tags %}
    <h2>Problem Submission</h2>
    <p>Please pick the problem number that you wish to attempt to solve. The competition ends {{ time_left|relative_time }}.</p>
    <ol id="problem-list">
        {% for id, name, completed in problems %}
            <li><a href="{% url submit id %}">{{ name }}</a> {% if completed %}<i class="icon-ok"></i>{% endif %}</li>
        {% endfor %}
    </ol>

    <h3>Submitted Solutions</h3>
    {% if submissions %}
        {% include "_submitted.html" %}
    {% else %}
    <p>You have not submitted any solutions yet.</p>
    {% endif %}
{% endblock %}
