{% extends "base.html" %}
{% block nav-profile %} class="active"{% endblock %}

{% block content %}
<h2>Your Profile</h2>

<p>This is your account overview page. From here you can change your password,
upload a new copy of your resume, or change your date of graduation.
Additionally, you can see the status of recent submissions you have made.</p>

<h3>Profile Actions</h3>
<ul>
	<li><a href="{% url "editprofile" %}">Edit profile</a></li>
	<li><a href="{% url "pw_change" %}">Change password</a></li>
	{% if user.profile.resume %}
	<li><a href="{{ user.profile.resume_url }}" target="_blank">View uploaded resume</a></li>
	{% else %}
	<li>You have not uploaded a resume.</li>
	{% endif %}
</ul>

<h3>Submit Solutions</h3>
<p>Go to <a href="{% url "download" %}">the submission page</a> to submit solutions
to the contest.</p>

<h3>Your Recent Submissions</h3>
{% if submissions %}
    {% include "_submitted.html" %}
{% else %}
    <p>You have submitted nothing yet</p>
{% endif %}
<p><a class='btn' href="{% url "download" %}">View full submission history</a></p>
{% endblock %}
