.sponsor_company {
	padding-top: 10px;
	padding-bottom: 10px;
}

abbr {
	text-transform: none;
}

tr.mine > td {
    background-color: rgba(47, 150, 180, 0.2) !important;
}

ol#problem-list {
    font-size: 16px;
    margin: 0 0 40px 30px;
}
ol#problem-list > li {
    line-height: 20px;
}

/* override bootstrap and fix nested table problem */
.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
  background-color: inherit;
}
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}
table.diff > thead > tr {
    background-color: #ccc;
}
table.diff > tbody > tr {
    background-color: #fff;
}
table.diff tr.error {
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
}
table.diff small {
    color: #999;
    font-size: 11px;
}

/* scoreboard */
#scoreboard td.soln {
    padding-left: 20px;
}
#scoreboard td.soln.failed { color: rgb(190, 190, 190); }
#scoreboard td.soln.invalid { color: rgb(127, 0, 0); }
#scoreboard td.soln.first { color: rgb(0, 127, 0); }

#scoreboard td .flag-pos {
    position: relative;
    left: -18px;
    top: -8px;
}
#scoreboard td .flag {
    height: 0px;
    width: 0px;
    position: absolute;
    top: 0px;
    left: 8px;

    border-width: 6px;
    border-style: solid;
}
#scoreboard td .success { display: none; }
#scoreboard td .first { border-color: rgb(0, 127, 0) transparent transparent rgb(0, 127, 0); display: block; }
#scoreboard td .invalid { border-color: rgb(127, 0, 0) transparent transparent rgb(127, 0, 0); }
#scoreboard td .failed { border-color: rgb(190, 190, 190) transparent transparent rgb(190, 190, 190); }
