{% extends "base.html" %}

{% block nav-home %}
class="active"
{% endblock %}

{% block content %}
<p>Welcome to the home page for the UPE coding competition.
The Spring 2012 Contest will be today, Saturday March 31st between
12:15pm and 2:15pm in Sage 3101.  Results will be announced after 2:15pm as soon
as they are tabulated.
</p>

<a href = http://www.cs.rpi.edu/~rockj/pset.pdf>problem set </a>

<p><b>Awards</b> made possible by our wonderful sponsors for participants will be
(subject to change):</p>
<ol>
    <li>6 $50 gift cards</li>
    <li>Xbox</li>
    <li>2 Ipod Nanos</li>
    <li>Kindle Touch 3g</li>
</ol>

<p><b>Eligibility:</b>  You must be a student currently enrolled
at RPI to register.  To participate in the contest, you must be among the first
sixty contestants to register for the contest.</p>

<p><b>Sponsors:</b>  We are grateful to have the support of
<a href="http://www.palantirtech.com/careers/positions">Palantir</a>,
<a href="http://careers.microsoft.com/careers/en/us/collegehome.aspx">Microsoft</a>,
<a href="http://www.tripadvisor.com/careers/">Trip Advisor</a>,
and <a href="http://careers.vistaprint.com/">Vistaprint</a>.
Without these companies, we would not be able to offer
awards for participation this semester.</p>
{% endblock %}
