<table class="diff table table-bordered table-condensed">
	<thead>
		<tr>
			<th><abbr title="Line number">#</abbr></th>
			<th>Expected</th>
			<th>Given</th>
		</tr>
	</thead>
	<tbody>
		{% for n, expected, given in diffs %}
		<tr{% if expected != given %} class="error"{% endif %}>
			<td>{{ n }}</td>
			<td>
				{% if expected == None %}
					<span class="label label-important">End of File</span>
				{% else %}
					{{ expected }}
				{% endif %}
			</td>
			<td>
				{% if given == None %}
					<span class="label label-important">End of File</span>
				{% else %}
					{{ given }}
				{% endif %}
			</td>
		</tr>
		{% endfor %}
		{% if err_left > 0 %}
		<tr>
			<td colspan="3"><small>{{ err_left }} additional errors not shown.</small></td>
		</tr>
		{% endif %}
	</tbody>
</table>
