{% load prettytimes_tags %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Time Submitted</th>
            <th>Problem Title</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
    {% for submission in submissions %}
        <tr>
            <td>{{ submission.submitted|relative_time }}</td>
            <td>{{ submission.attempt.problem|escape }}</td>
            {% if submission.result.status %}
                <td>
                {% if submission.result.status == 'failed' %}
                    <a href={% url diff submission.result.id %}>{{ submission.result.status|escape|capfirst }}</a>
                {% else %}
                    {{ submission.result.status|escape|capfirst }}
                {% endif %}
                </td>
            {% else %}
                {% if submission.result %}
                    <td>Grade Error</td>
                {% else %}
                    <td>Not Graded</td>
                {% endif %}
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
