{% extends "base.html" %}
{% block nav-home %} class="active"{% endblock %}

{% block content %}
<p>Welcome to the home page for the UPE coding competition. The fall 2012
contest will be Sunday October 28th from 12:00 PM to 2:30 PM in Lally 104 and
Lally 102. Results will be announced immediately following the end of the
competition.</p>

<p><b>Awards</b> made possible by our wonderful sponsors for participants will
be announced in the near future.

<p><b>Eligibility:</b>  You must be a student currently enrolled at RPI to
register.  To participate in the contest, you must be among the first sixty
contestants to register for the contest.</p>

<p><b>Sponsors:</b>  We are grateful to have the support of Trip
  Advisor, Google, Bloomberg, and Kitware.  Without these companies, we
  would not be able to offer awards for participation this
  semester.</p> 
{% endblock %}
