{% extends "base.html" %}

{% block content %}
{% for scoreboard in scoreboards %}
    <h2>{{ scoreboard|escape }}</h2>
    {% if scoreboard.users %}
    <table>
        <tr>
            <th>User</th>
            <th>Number of Submissions</th>
            <th>Last Submission</th>
        </tr>
    {% for user, num, dt in scoreboard.users %}
        <tr>
            <td>{{ user.username|escape}} <!--{{user.first_name}} {{user.last_name}}--></td>
            <td>{{ num|escape }}</td>
            <td>{{ dt|date:"H:i" }}</td>
        </tr>
    {% endfor %}
    </table>
    {% else %}
    <p>No submissions qualify.</p>
    {% endif %}
{% endfor %}
{% endblock %}
