.competition-info {
    border-left: 5px solid #ccc;
    padding-left: 15px;
    margin-top: 5px;
}

.nav li.highlight a {
    background-color: rgba(255, 0, 0, 0.4) !important;
    color: #e0e0e0;
}

.rule-img {
  text-align: center;
}
.rule-img img {
  max-width: 500px;
  border: 1px solid #999;
}

#sponsors { text-align: center; }
#sponsors h1 { text-align: left; }
.sponsor_company {
	padding-top: 10px;
	padding-bottom: 10px;
    text-align: center;
}
.sponsor_company img {
    max-height: 60px;
}
.sponsor_company.major { max-width: 100%; }
.sponsor_company.minor {
    max-width: 40%;
    margin-right: 20px;
    display: inline-block;
}

abbr {
	text-transform: none;
}

tr.mine > td {
    background-color: rgba(47, 150, 180, 0.2) !important;
}

ol#problem-list {
    font-size: 16px;
    margin: 0 0 40px 30px;
}
ol#problem-list > li {
    line-height: 20px;
}

/* override bootstrap and fix nested table problem */
.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
  background-color: inherit;
}
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}
table.diff > thead > tr {
    background-color: #ccc;
}
table.diff > tbody > tr {
    background-color: #fff;
}
table.diff tr.error {
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
}
table.diff small {
    color: #999;
    font-size: 11px;
}

/* scoreboard */
#scoreboard td.soln {
    padding-left: 20px;
}
#scoreboard td.soln.first { color: rgb(0, 127, 0); }
#scoreboard td.soln.failed { color: rgba(127, 0, 0, 0.5); }
#scoreboard td.soln.invalid { color: rgba(0, 0, 0, 0.3); }

#scoreboard td .flag-pos {
    position: relative;
    left: -18px;
    top: -8px;
}
#scoreboard td .flag {
    height: 0px;
    width: 0px;
    position: absolute;
    top: 0px;
    left: 8px;

    border-width: 6px;
    border-style: solid;
}
#scoreboard td .success { display: none; }
#scoreboard td .first { border-color: rgb(0, 127, 0) transparent transparent rgb(0, 127, 0); display: block; }
#scoreboard td .failed { border-color: rgba(127, 0, 0, 0.5) transparent transparent rgba(127, 0, 0, 0.5); }
#scoreboard td .invalid { border-color: rgba(0, 0, 0, 0.3) transparent transparent rgba(0, 0, 0, 0.3); }

#scoreboard .resume {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAINSURBVBgZBcG/r55zGAfg6/4+z3va01NHlYgzEfE7MdCIGISFgS4Gk8ViYyM2Mdlsko4GSf8Do0FLRCIkghhYJA3aVBtEz3nP89wf11VJvPDepdd390+8Nso5nESBQoq0pfvXm9fzWf19453LF85vASqJlz748vInb517dIw6EyYBIIG49u+xi9/c9MdvR//99MPPZ7+4cP4IZhhTPbwzT2d+vGoaVRRp1rRliVvHq+cfvM3TD82+7mun0o/ceO7NT+/4/KOXjwZU1ekk0840bAZzMQ2mooqh0A72d5x/6sB9D5zYnff3PoYBoWBgFKPKqDKqjCpjKr//dcu9p489dra88cydps30KswACfNEKanSaxhlntjJ8Mv12Paie+vZ+0+oeSwwQ0Iw1xAR1CiFNJkGO4wu3ZMY1AAzBI0qSgmCNJsJUEOtJSMaCTBDLyQ0CknAGOgyTyFFiLI2awMzdEcSQgSAAKVUmAeNkxvWJWCGtVlDmgYQ0GFtgg4pNtOwbBcwQy/Rife/2yrRRVI0qYCEBly8Z+P4qMEMy7JaVw72N568e+iwhrXoECQkfH91kY7jwwXMsBx1L93ZruqrK6uuiAIdSnTIKKPLPFcvay8ww/Hh+ufeznTXu49v95IMoQG3784gYXdTqvRmqn/Wpa/ADFX58MW3L71SVU9ETgEIQQQIOOzub+fhIvwPRDgeVjWDahIAAAAASUVORK5CYII=) center center no-repeat;
}

#scoreboard .resume.missing {
    opacity: 0.3;
    cursor: help;
}
